@layout('main')


@section('content')
<h1>Home</h1>
<p>Welcome to adonis</p>
<button class="btn" type="submit" style="color:white"><a href="/posts/add"> Add Post</a></button>
<button class="btn" type="submit" style="color:white"><a href="/posts/hide"> Hide Post</a></button>
@endsection